/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-page-color: #FF0070;
  --main-page-image: url(../images/cover-image-dark.png);
  --rec-color: #FF0070;
  --header-title-color: #FF0070;
  --page-font-family: IBM Plex Mono, sans-serif;
}
