.page.theme_light {
  --background-color: var(--white-color);
  --header-color: var(--light__pink-color-1);
  --header__menu-color: var(--dark-color-1);
  --main__title-color: var(--dark-color-1);
  --background__text-color: var(--pink-color);
  --background__cards-color: var(--dark-color-1);
  --header__picture: var(--background__picture-light);
  --decorate__element-color: var(--white-color);
  --text-shadow: var(--red-color);
  --header__title-text: var(--dark-color-1);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--white-color);
    --header-color: var(--light__pink-color-1);
    --header__menu-color: var(--dark-color-1);
    --main__title-color: var(--dark-color-1);
    --background__text-color: var(--pink-color);
    --background__cards-color: var(--white-color);
    --header__picture: var(--background__picture-light);
    --decorate__element-color: var(--white-color);
    --text-shadow: var(--red-color);
    --header__title-text: var(--dark-color-1);
  }
}
