.page {
  background: #000028 url(../images/cover-image-dark.png) no-repeat center / cover;
  background-size: auto 768px;
  background-attachment: fixed;
  
}

.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, minmax(auto, 1024px));
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-block-end: 1px solid #FF0070;
  border-inline-start: 1px solid #FF0070;
  bottom: 20px;
  left: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-block-end: 274px;
}

.header__theme-menu-button {
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  background: none;
  text-transform: lowercase;
  cursor: pointer;
  border: transparent;
  margin: 2.5px 12px;
}

.header__rec {
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  right: 49px;
  top: 20px;
  text-transform: uppercase;
}

.header__rec::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #FF0070;
  border-radius: 50%;
  left: 38px;
  top: 8px;
  box-shadow: 0 0 4px 2px #FF0070;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid #FF0070;
  border-inline-end: 1px solid #FF0070;
}

.header__title {
  color: #DB00FF;
  text-shadow: 4px 4px 0px #FF0070;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  justify-self: start;
}

.header__title-text {
  color: #000028;
  background-color: #FF0070;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  width: 48%;
}

