.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color) var(--header__picture) no-repeat center / cover;
  background-size: auto 768px;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, minmax(auto, 980px));
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-block-end: 1px solid var(--header__menu-color);
  border-inline-start: 1px solid var(--header__menu-color);
  bottom: 60px;
  left: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header__menu-color);
  border-inline-end: 1px solid var(--header__menu-color);
  right: 22px;
  top: 18px
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-block-end: 274px;
}

.header__theme-menu-item {
  display: inline-flex;
  align-items: center;
  height: 26px;
}

.header__theme-menu-button {
  color: var(--header__menu-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 12px;
  background: none;
  text-transform: lowercase;
  cursor: pointer;
  border: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid transparent;
  border-color: var(--header__menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid transparent;
  border-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  cursor: default;
  pointer-events: none;
}

.header__rec {
  color: var(--decorate__element-color);
  text-align: center;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  right: 49px;
  top: 20px;
  text-transform: uppercase;
}

.header__rec::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--decorate__element-color);
  border-radius: 50%;
  left: 38px;
  top: 8px;
  box-shadow: 0 0 4px 2px var(--decorate__element-color);
}

.header__title {
  color: var(--header-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
  font-family: IBM Plex Mono, sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  justify-self: start;
  margin-block-end: 114px;
}

.header__title-text {
  color: var(--header__title-text);
  background-color: var(--background__text-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  width: 49.8%;
  margin-block-end: 134px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-block-start: 40px;
}

.section {
  display: flex;
  gap: 20px;
  padding: 40px 20px 80px 20px;
}

.section__title {
  color: var(--main__title-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-width: 315px;
}

.section__content-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards__title {
  color: var(--header__title-text);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background: var(--background__text-color);
}

.cards__title-second {
  color: var(--header__title-text);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background: var(--background__text-color);
}

.cards__content {
  color: var(--background__cards-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 650px;
}

.second__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px 40px 20px;
  max-width: 1024px;
}

.second__content-list {
  display: inline-flex;
  gap: 20px;
}

.section__picture {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  gap: 20px;
  padding: 0 20px 60px 20px;
}

.picture__title {
  color: var(--header__title-text);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background: var(--background__text-color);
}

.cards_picture {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(4, minmax(auto, 1fr));
  grid-template-areas: 
    "sunset sunset icecream"
    "tape book icecream"
    "tape street street"
    "tape street street";
  gap: 20px;;
}

.picture__sunset {
  grid-area: sunset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__cream {
  grid-area: icecream;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__tape {
  grid-area: tape;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__books {
  grid-area: book;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__street {
  grid-area: street;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.decorated-footer::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-block-end: 1px solid var(--header__menu-color);
  border-inline-start: 1px solid var(--header__menu-color);
  bottom: 20px;
  left: 20px;
}

.decorated-footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header__menu-color);
  border-inline-end: 1px solid var(--header__menu-color);
  right: 20px;
  top: 20px
}

.footer__title {
  color: var(--header-color);
  text-shadow: 2px 2px 0px var(--text-shadow);
  font-family: IBM Plex Mono, sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin: 319px 256px 319px;
}