.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color) var(--header__picture) no-repeat center / cover;
  background-attachment: fixed;
}

@media (width <= 1000px) {
  .page {
    align-items: normal;
    background-size: auto;
  }
}

.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, minmax(auto, 980px));
  justify-content: center;
  gap: 10px;
  padding: 20px;
  height: 100vh;
}

@media (width <= 760px) {
  .header {
    padding: 10px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-block-end: 1px solid var(--header__menu-color);
  border-inline-start: 1px solid var(--header__menu-color);
  bottom: 20px;
  left: 15px;
}

@media (width <= 1000px) and (width > 375px) {
  .decorated-zone::before {
    bottom: 0px;
  }
}

@media (width <= 760px) {
  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header__menu-color);
  border-inline-end: 1px solid var(--header__menu-color);
  right: 20px;
  top: 19px
}

@media (width <= 760px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-block-end: 266px;
  margin-inline-start: -6px;
  margin-block-start: -2px;
}

@media (width <= 768px){
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    margin-block-end: 142px;
    margin-block-start: 170px;
    gap: 10px;
  }
}

@media (width <= 760px) {
  .header__theme-menu-list {
    margin-block-end: 60px;
    margin-block-start: 56px;
    gap: 4px;
  }
}

.header__theme-menu-item {
  display: inline-flex;
  align-items: center;
  height: 26px;
}

@media (width <= 760px) {
  .header__theme-menu-item {
    margin-block-start: 6px;
  }
}

.header__theme-menu-button {
  color: var(--header__menu-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 12px;
  background: none;
  text-transform: lowercase;
  cursor: pointer;
  border: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid transparent;
  border-color: var(--header__menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid transparent;
  border-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  cursor: default;
  pointer-events: none;
}

.header__rec {
  color: var(--decorate__element-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  right: 48px;
  top: 20px;
  text-transform: uppercase;
}

@media (width <= 760px) {
  .header__rec {
    right: 34px;
    top: 10px;
  }
}

.header__rec::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--decorate__element-color);
  border-radius: 50%;
  left: 38px;
  top: 8px;
  box-shadow: 0 0 4px 2px var(--decorate__element-color);
}

.header__title {
  color: var(--header-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  justify-self: start;
  margin-block-end: 89px;
  margin-inline-start: -28px;
  margin-block-start: -15px;
}

@media (prefers-color-scheme: light) and (width <= 768px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--background__text-color);
  }
}

@media (prefers-color-scheme: light) and (width > 1024px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--background__text-color);
  }
}


@media (height > 768px) {
  .header__title {
    margin-block-end: 120px;
    margin-inline-start: -20px;
  }
}

@media (width <= 760px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-end: 40px;
    margin-inline-start: 0;
  }
}

.header__title-text {
  color: var(--header__title-text);
  background-color: var(--background__text-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  width: 49.8%;
  margin-block-end: 98px;
  margin-inline-end: 3px;
}

@media (width <= 1020px) {
  .header__title-text {
    margin-block-end: 128px;
    height: 48%;
  }  
}

@media (width <= 760px) {
  .header__title-text {
    width: auto;
    margin-block-end: 47px;
    height: 64%;
  }  
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-block-start: 40px;
} 

@media (height > 1000px) {
  .main {
    margin-block-start: 20px;
    margin-inline-start: 4px;
  }
}

.section {
  display: flex;
  gap: 20px;
  padding: 20px 20px 80px 20px;
}

@media (height > 768px) {
  .section {
    padding: 40px 20px 70px 20px;
  }
}

@media (width <= 760px) {
  .section {
    flex-direction: column;
    gap: 15px;
    padding: 30px 10px 46px;
  }
}

.section__title {
  color: var(--main__title-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-width: 315px;
  margin-inline-start: -4px;
}

@media (width <= 1020px) and (width > 375px) {
  .section__title {
    max-width: 236px; 
  }
}

@media (width <= 760px) {
  .section__title {
    width: auto;
    margin-block-start: -30px;
    margin-inline-start: 2px;
  }
}

.section__content-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-block-start: -3px;
}

@media (width <= 760px) {
  .section__content-list {
    margin-block-start: 2px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

@media (width <= 760px) {
  .cards {
    margin-inline-start: 2px;
  }
}

.cards__title {
  color: var(--header__title-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background: var(--background__text-color);
  margin-block-start: 2px;
  margin-inline-start: -2px;
}

.cards__content {
  color: var(--background__cards-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 650px;
}

.cards__content-link {
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--background__text-color);
}

.cards__content-link:focus {
  outline: none;
}

.cards__content-link:focus-visible {
  border: 1px solid transparent;
  border-color: currentColor;
}

.cards__content-link:hover {
  border-bottom: 1px solid transparent;
  border-color: currentColor;
}

.second__section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px 40px 20px;
  max-width: 1024px;
  margin-block-start: -2px;
}

@media (height > 1000px) {
  .second__section {
    margin-block-start: 6px;
    margin-inline-start: -2px;
  }
}

@media (width <= 760px) {
  .second__section {
    padding: 34px 10px 10px;
  }
}

.second__content-list {
  display: inline-flex;
  gap: 20px;
  margin-inline-start: -2px;
  margin-block-start: 2px;
}

@media (width <= 1020px) {
  .second__content-list {
    flex-direction: column;
  }
}

.cards__title-second {
  color: var(--header__title-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background: var(--background__text-color);
}

.cards__content-second {
  color: var(--background__cards-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 650px;
}

@media (width <= 1020px) {
  .cards__content-second {
    max-width: 728px;
  }
}

.last_section {
  margin-block-start: 21px;
}

@media (height > 1000px) {
  .last_section {
    margin-block-start: -3px;
  }
}

@media (width < 760px) {
  .last_section {
    margin-block-start: 3px;
    margin-inline-start: 1px;
  }
}

.last_cards_title {
  margin-block-start: 26px;
}

@media (height > 1000px) {
  .last_cards_title {
    margin-block-start: unset;
  }
}

@media (width < 760px) {
  .last_cards_title {
    margin-block-start: 3px;
    margin-inline-start: 1px;
  }
}


.section__picture {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  gap: 20px;
  padding: 0 20px 40px 20px;
}

@media (height > 1000px) {
  .section__picture {
    margin-block-start: 11px;
    margin-inline-start: -2px;
  }
}

@media (width <= 760px) {
  .section__picture {
    padding: 0 10px 40px;
    gap: 10px;
  }
}

.picture__title {
  color: var(--header__title-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background: var(--background__text-color);
  margin-block-start: 2px;
  margin-inline-start: -2px;
}

.cards_picture {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-areas: 
    "sunset sunset icecream"
    "tape book icecream"
    "tape street street"
    "tape street street";
  gap: 20px;;
}

@media (width <= 760px) {
  .cards_picture {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.picture__sunset {
  grid-area: sunset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__cream {
  grid-area: icecream;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__tape {
  grid-area: tape;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__books {
  grid-area: book;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__street {
  grid-area: street;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  height: 100vh;
}

@media (height > 768px) {
  .footer {
    min-height: 1024px;
  }
}

@media (height <= 768px) {
  .footer {
    padding: 20px 20px 0;
  }
}

.decorated-footer::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-block-end: 1px solid var(--header__menu-color);
  border-inline-start: 1px solid var(--header__menu-color);
  bottom: 0;
  left: 16px;
}

@media (width <= 760px) {
  .decorated-footer::before {
    left: 10px;
  }
}

.decorated-footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header__menu-color);
  border-inline-end: 1px solid var(--header__menu-color);
  right: 23px;
  top: 41px;
}

@media (width <= 760px) {
  .decorated-footer::after {
    right: 10px;
  }
}

.footer__title {
  color: var(--header-color);
  text-shadow: 2px 2px 0px var(--text-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin: 340px 256px 319px;
}

@media (width < 760px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin: 274px 0 280px;
  }
}