.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color) var(--header__picture) no-repeat center / cover;
  background-size: auto 768px;
  background-attachment: fixed;
}

@media (width <= 1000px) {
  .page {
    align-items: normal;
    background-size: auto 1024px;
  }
}

.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, minmax(auto, 980px));
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

@media (width <= 375px) {
  .header {
    padding: 10px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-block-end: 1px solid var(--header__menu-color);
  border-inline-start: 1px solid var(--header__menu-color);
  bottom: 60px;
  left: 20px;
}

@media (width <= 1000px) and (width > 375px) {
  .decorated-zone::before {
    bottom: 0px;
  }
}

@media (width <= 375px) {
  .decorated-zone::before {
    left: 10px;
    bottom: -20px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header__menu-color);
  border-inline-end: 1px solid var(--header__menu-color);
  right: 20px;
  top: 19px
}

@media (width <= 375px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-block-end: 266px;
}

@media (width <= 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
    margin-block-end: 171px;
    margin-block-start: 170px;
  }
}

@media (width <= 375px) {
  .header__theme-menu-list {
    margin-block-end: 65px;
    margin-block-start: 56px;
  }
}

.header__theme-menu-item {
  display: inline-flex;
  align-items: center;
  height: 26px;
}

.header__theme-menu-button {
  color: var(--header__menu-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 12px;
  background: none;
  text-transform: lowercase;
  cursor: pointer;
  border: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid transparent;
  border-color: var(--header__menu-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid transparent;
  border-color: currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  cursor: default;
  pointer-events: none;
}

.header__rec {
  color: var(--decorate__element-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  right: 48px;
  top: 20px;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header__rec {
    right: 34px;
    top: 10px;
  }
}

.header__rec::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--decorate__element-color);
  border-radius: 50%;
  left: 38px;
  top: 8px;
  box-shadow: 0 0 4px 2px var(--decorate__element-color);
}

.header__title {
  color: var(--header-color);
  text-shadow: 4px 4px 0px var(--text-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  justify-self: start;
  margin-block-end: 106px;
  margin-inline-start: -10px;
}

@media (height > 768px) {
  .header__title {
    margin-block-end: 168px;
  }
}

@media (width <= 375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-end: 55px;
  }
}

.header__title-text {
  color: var(--header__title-text);
  background-color: var(--background__text-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  width: 49.8%;
  margin-block-end: 134px;
}

@media (width <= 375px) {
  .header__title-text {
    width: auto;
    margin-block-end: 26px;
  }  
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-block-start: 40px;
}

.section {
  display: flex;
  gap: 20px;
  padding: 40px 20px 80px 20px;
}

@media (width <= 375px) {
  .section {
    flex-direction: column;
    padding: 40px 10px 50px;
  }
}

.section__title {
  color: var(--main__title-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-width: 315px;
}

@media (width <= 768px) and (width > 375px) {
  .section__title {
    max-width: 236px; 
  }
}

@media (width <= 375px) {
  .section__title {
    width: auto; 
  }
}

.section__content-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards__title {
  color: var(--header__title-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background: var(--background__text-color);
}

.cards__content {
  color: var(--background__cards-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 650px;
}

.cards__content-link {
  text-decoration: none;
  text-shadow: 1px 1px 0px var(--background__text-color);
}

.cards__content-link:focus {
  outline: none;
}

.cards__content-link:focus-visible {
  border-bottom: 1px solid transparent;
  border-color: currentColor;
}

.cards__content-link:hover {
  border: 1px solid transparent;
  border-color: var(--background__text-color);
}

.second__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 40px 20px;
  max-width: 1024px;
}

@media (width <= 375px) {
  .second__section {
    padding: 0 10px 10px;
  }
}

.second__content-list {
  display: inline-flex;
  gap: 20px;
}

@media (width <= 768px) {
  .second__content-list {
    flex-direction: column;
  }
}

.cards__title-second {
  color: var(--header__title-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background: var(--background__text-color);
}

.cards__content-second {
  color: var(--background__cards-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 650px;
}

@media (width <= 768px) {
  .cards__content-second {
    max-width: 728px;
  }
}

.section__picture {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  gap: 20px;
  padding: 0 20px 60px 20px;
}

@media (width <= 375px) {
  .section__picture {
    padding: 0 10px 40px;
  }
}

.picture__title {
  color: var(--header__title-text);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  background: var(--background__text-color);
}

.cards_picture {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(4, minmax(auto, 1fr));
  grid-template-areas: 
    "sunset sunset icecream"
    "tape book icecream"
    "tape street street"
    "tape street street";
  gap: 20px;;
}

.picture__sunset {
  grid-area: sunset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__cream {
  grid-area: icecream;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__tape {
  grid-area: tape;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__books {
  grid-area: book;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__street {
  grid-area: street;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

@media (height > 768px) {
  .footer {
    min-height: 1024px;
  }
}

.decorated-footer::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-block-end: 1px solid var(--header__menu-color);
  border-inline-start: 1px solid var(--header__menu-color);
  bottom: 20px;
  left: 20px;
}

@media (width <= 375px) {
  .decorated-footer::before {
    left: 10px;
  }
}

.decorated-footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header__menu-color);
  border-inline-end: 1px solid var(--header__menu-color);
  right: 20px;
  top: 20px
}

@media (width <= 375px) {
  .decorated-footer::after {
    right: 10px;
  }
}

.footer__title {
  color: var(--header-color);
  text-shadow: 2px 2px 0px var(--text-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin: 319px 256px 319px;
}

@media (width <= 375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin: 280px 0 280px;
  }
}